 <!-- Page Content -->
 <div class="container">

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <h1>Business Name or Tagline</h1>
      <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
      <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">We provide exceptional quality home health care services that are guaranteed to improve the lives of our patients and their families at home</p>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">In-Home Services</h2>
          <p class="card-text">Our health care professionals are trained to provide focused individual care that ranges from personal care needs, nutrition, medication management, transportation to doctor appointments, family support and more. We do our best to accommodate our Clients requirements so that they can live their days in peace and comfort.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">We are certified</h2>
          <p class="card-text">We are certified by the state of Minnesota to provide PCA Services, and is bonded and insured. We are also licensed by the Department of Human Services for a 245D License to provide Home and Community-based Services.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Supportive Staff</h2>
          <p class="card-text">Our staff includes Registered Nurses and Home Care Solutions Managers who coordinate and oversee care. We also provide services ranging from supervisory visits to liaison services between Client and physician to ensure the best Client Care Plan possible.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

